.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow:0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;

}
#gameContainer{
    font-family: sans-serif;
    text-align: center;
    
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}
body {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    background-color: #f0f0f0;
